@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap%27');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
}

.opacity {
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 27, 43, 0.2);
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

span {
    padding: 10px;
}
