@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap%27');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    background-repeat: no-repeat;
    height: 100vh;
    text-shadow: 0px 5px 5px black;
}

.container {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 100px;
}

#City {
    font-size: 4rem;
    text-shadow: 0px 5px 5px black;
}

#Time {
    font-size: 3rem;
    text-shadow: 0px 2px 2px black;
}

#Date {
    font-size: 2rem;
    text-shadow: 0px 2px 2px black;
}

.today {
    font-size: 1.5rem;
    max-width: 600px;
    margin: auto;
    margin-top: 150px;
}

.desIcon {
    display: inline-flex;
}


img#wicon {
    width: 150px;
    position: relative;
    bottom: 20px;
}

.temp {
    margin-bottom: 10px;
}

.tableau {
    max-width: 70%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
}

.block1,
.block2,
.block3,
.block4,
.block5 {
    padding: 30px;
}

.icone {
    width: 100px;
    margin-top: -20px;
    margin-bottom: -20px;
}


@media (max-width: 1181px) {
    .today {
        margin-top: 20px;
        margin-left: 25vw;
        max-width: 40%;
    }
}