@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap%27');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
    color: white;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 100px;
}

#City {
    font-size: 4rem;
}

#Time {
    font-size: 3rem;
}

#Date {
    font-size: 2rem;
}

.today {
    margin-top: 150px;
    margin-left: 25vw;
    font-size: 1.5rem;
}

.desIcon {
    display: inline-flex;
}


img#wicon {
    width: 100px;
}

.tableau {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
}

.block1,
.block2,
.block3,
.block4,
.block5 {
    padding: 50px;
}